{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Life Pro Tips</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{#{% include 'nav.html' %}#}
{% bootstrap_messages %}
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>